[submodule "SBC_Model_Framework"]
	path = SBC_Model_Framework
	url = git@github.com:tekmar-kevinf/SBC_Model_Framework.git
[submodule "NopSCADlib"]
	path = NopSCADlib
	url = git@github.com:tekmar-kevinf/NopSCADlib.git
